.fillup-location-map {
  .angular-google-map-container {
    height: 400px;
  }
}

.fillup-address-name {
  display: block;
}
.fillup-address-street-container {
  margin-top: -5px;
  display: block;
}
.fillup-address-street {
  font-style: italic;
}