.location-address-name {
  display: block;
  font-size: 18px;
}
.location-address-street {
  font-style: italic;
}
.location-open-now {
  font-weight: bold;
  color: $brand-success;
}
.location-logo {
  float: left;
  margin-right: 20px;
}

.location-edit-select {
  padding-bottom: 20px;
}