mm-gas-station-info {
  display: block;
}

.location-container {
  position: relative;
  
  .component {
    margin-left: 40px;
    display: block;
  }
  .address-name {
    font-size: 18px;
  }
  .address-street {
    font-style: italic;
  }
  img {
    position: absolute;
    left: 0;
    top: 5px;
    height: 32px;
    width: 32px;
  }
}

.location-edit-select {
  padding-bottom: 20px;
}

.latitude {
  &:before {
    content: '(';
  }
  &:after {
    content: ',';
  }
}
.longitude {
  &:after {
    content: ')';
  }
}