@import "colors";

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $login-body-bg;
}

.road {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 40px solid rgba(#fff, 0.1);
  border-bottom: 40px dashed rgba(yellow, 0.1);
  transform: rotate(-15deg);
}

.login-form {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  top: 100px;
  background: $login-form-bg;
  border: 1px solid $gray-light;
  border-radius: 4px;
  padding: 40px;

  .logo-container {
    text-align: center;
  }
  .logo {
    margin: 0 auto;
    font-weight: 100;
    display: inline-block;
  }
  .wordmark {
    font-size: 60px;  
  }
  .version {
    font-size: 14px;
    text-align: right;
    margin: -15px 0 20px 0;
  }

  .actions {
    float: right;
  }
}


.password-confirmation {
  transition: all linear 0.1s;
  display: block !important;
  overflow: hidden;
  height: 58px;
  opacity: 1;
  margin-bottom: 15px;

  &.ng-hide {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
  }
}