$icon-font-path: '/fonts/';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

$fa-font-path: '/fonts/';
@import 'font-awesome/scss/font-awesome';


// Import our styles
@import 'colors';
@import 'users';
@import 'login';


h1 {
  font-weight: 200;
  margin-bottom: 20px;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



.resource-list {
  .resource {
    border-top: 1px solid $gray-light;

    h3 {
      margin-top: 0;
      color: $brand-primary;
    }

    & > a {
      display: block;
      padding: 15px 10px;
      text-decoration: none;

      &:hover {
        background: $gray-lighter;
      }
    }
  }

  .resource:last-child {
    border-bottom: 1px solid $gray;
  }
}