$icon-font-path: '/fonts/';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

$fa-font-path: '/fonts/';
@import 'font-awesome/scss/font-awesome';


// Import our styles
@import 'colors';
@import 'login';

body {
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

label {
  font-weight: normal;
}

select.inline {
  display: inline-block;
  width: auto;
  margin-right: 4px;
}

.time-colon {
  margin-right: 4px;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.checkbox.with-label {
  margin-top: 30px;
  margin-bottom: 0;
}


.resource-header {
  position: relative;

  h3 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .resource-add {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.resource-list {
  margin-top: 20px;

  .resource {
    border-top: 1px solid $gray-light;

    & > a {
      display: block;
      padding: 15px 10px;
      text-decoration: none;
      color: $text-color;

      h3 {
        margin-top: 0;
      }

      &:hover {
        background: $gray-lighter;
        h3 {
          color: $brand-primary;
        }
      }
    }

    .body {
      @extend .pull-left;
    }

    .extra {
      @extend .pull-right;

      &.single-line {
        overflow: hidden;
        margin-top: 24px;
        white-space: nowrap;
      }
    }

    &:last-child {
      border-bottom: 1px solid $gray;
    }
  }
}

.resource-sort {
  label {
    margin-left: 15px;
  }
  input[type="checkbox"] {
    margin-right: 6px;
  }
}