<div class="resource-not-found" ng-show="!fillup">
  <h1>Fill-up not found</h1>
</div>

<div ng-hide="!fillup">
  <div class="resource-header">
    <h1 ng-show="isNew">New fill-up</h1>
    <h1 ng-hide="isNew">Fill-up {{fillup.name}}</h1>
    <h3 ng-show="!vehicle" class="text-muted">No vehicle selected</h3>
    <h3 ng-hide="!vehicle">
      for
      <span ng-show="!vehicle.name">unnamed</span>
      <span ng-hide="!vehicle.name">{{vehicle.name}}</span>
      {{vehicle.year}} {{vehicle.make}} {{vehicle.model}}
    </h3>
  </div>

  <hr />

  <div class="row">
    <form role="form" class="col-sm-6">
      <div class="row center-block">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="col-md-8 col-md-offset-2">
          {{alert.msg}}
        </alert>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label>When and where</label>
          <div>
            <p ng-hide="!fillup.completed_at">
              {{fillup.completed_at | date : 'MM-dd-yyyy'}} at {{fillup.completed_at | date : 'hh:mma'}}
              <button class="btn btn-link" ng-click="changeTime()">change</button>
            </p>
            <p ng-show="!fillup.completed_at">
              Filling up now
              <button class="btn btn-link" ng-click="changeTime()">set time</button>
            </p>
            
            <mm-gas-station-info ng-model="selectedStation"></mm-gas-station-info>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-8">
          <label for="vehicleSelect">Vehicle</label>
          <select id="vehicleSelect" class="form-control" ng-model="vehicle" ng-options="v.name || 'Unnamed' for v in vehicles" ng-disabled="isBusy()">
            <option value="" disabled="disabled">Select vehicle</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5">
          <label for="mileageInput">Mileage</label>
          <input type="number" id="mileageInput" class="form-control" ng-model="fillup.mileage" ng-disabled="isBusy()" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5">
          <label for="gallonsInput">Gallons</label>
          <input type="number" id="gallonsInput" class="form-control" ng-model="fillup.gallons" ng-change="updatePrice()" ng-disabled="isBusy()" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5">
          <label for="ppgInput">Price per gallon</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" id="ppgInput" class="form-control" ng-model="fillup.price_per_gallon" ng-change="updatePrice()" ng-disabled="isBusy()" />
          </div>
        </div>
        <div class="form-group col-md-8">
          <label for="gradeSelect">Grade</label>
          <select id="gradeSelect" class="form-control" ng-model="fillup.grade" ng-options="g.val as g.name for g in grades" ng-disabled="isBusy()" placeholder="Grade">
            <option value="">Unspecified grade</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5">
          <label for="priceInput">Total cost</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" id="priceInput" class="form-control" ng-model="fillup.price" ng-disabled="isBusy() || autoCalcPrice" />
          </div>
        </div>
        <div class="checkbox with-label col-sm-3">
          <label>
            <input type="checkbox" ng-model="autoCalcPrice" ng-change="updatePrice()" />
            Auto-calculate
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="commentInput">Comment <span class="text-muted">(optional)</span></label>
          <textarea class="form-control" id="commentInput" ng-model="fillup.comment" rows="3"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <button class="btn btn-primary" ng-click="save()" ng-disabled="isBusy()">
            <span ng-show="isSaving">Saving...</span>
            <span ng-hide="isSaving">
              <span ng-show="isNew">Create</span>
              <span ng-hide="isNew">Save changes</span>
            </span>
          </button>
        </div>
      </div>
    </form>

    <div class="col-sm-6">
      <mm-gas-station-map map-metadata="mapMetadata"
                          stations="stations"
                          ng-model="selectedStation">
      </mm-gas-station-map>

      <div class="fillup-geolocation">
        <div class="pull-right text-muted">
          <small class="latitude">{{fillup.latitude}}</small>
          <small class="longitude">{{fillup.longitude}}</small>
          <button class="btn btn-link" ng-click="changeLocation()">change</button>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="col-sm-12" ng-hide="isNew">
    <p class="text-center">Done with this fill-up entry? You can delete it.</p>
    <button class="btn btn-danger center-block" ng-click="delete()" ng-disabled="isBusy()">
      <span ng-show="isDeleting">Deleting...</span>
      <span ng-hide="isDeleting">Delete fill-up entry</span>
    </button>
  </div>
</div>