<div class="modal-header">
  <h3 class="modal-title">Edit fill-up time</h3>
</div>
<div class="modal-body">
  <p>Update the date and time of the fill-up.</p>
  <form>
    <div class="form-group">
      <label>Date</label>
      <div>
        <select ng-model="completedAt.month" ng-options="val for val in months" class="form-control inline"></select>
        <select ng-model="completedAt.day" ng-options="val for val in days" class="form-control inline"></select>
        <select ng-model="completedAt.year" ng-options="val for val in years" class="form-control inline"></select>
      </div>
    </div>
    <div class="form-group">
      <label>Time</label>
      <div>
        <select ng-model="completedAt.hour" ng-options="val for val in hours" class="form-control inline"></select> :
        <select ng-model="completedAt.minute" ng-options="val for val in minutes" class="form-control inline"></select>
        <select ng-model="completedAt.isPm" ng-options="val for val in amPm" class="form-control inline"></select>
      </div>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-default" ng-click="ok()">Save</button>
</div>