<div class="modal-header">
  <h3 class="modal-title">Edit fill-up location</h3>
</div>
<div class="modal-body">
  <p>Update the geolocation of the fill-up.</p>
  <form>
    <div class="form-group">
      <label>Latitude</label>
      <div>
        <input type="text" class="form-control" ng-model="coords.longitude" />
      </div>
    </div>
    <div class="form-group">
      <label>Longitude</label>
      <div>
        <input type="text" class="form-control" ng-model="coords.latitude" />
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ok()">Save</button>
</div>