<google-map class="fillup-location-map"
        center="mapMetadata.center"
        zoom="mapMetadata.zoom"
        control="mapMetadata.control"
        draggable="true">
  
  <markers models="stations">
    <marker ng-repeat="station in stations"
            coords="{latitude: station.geometry.location.lat(), longitude: station.geometry.location.lng()}"
            click="setStation(station)">
      <window isIconVisibleOnClick="true" show="ngModel === station">
        <div class="location-container">
          <img ng-src="{{photoUrl}}" />
          <div>
            <span class="component address-name">{{station.name}}</span>
            <span class="component address-street">{{station.vicinity}}</span>
          </div>
        </div>
      </window>
    </marker>  
  </markers>
</google-map>